body{
    max-width: 500px;
    margin: auto;
  }
div {
    border-radius: 5px;
  }
#header{
    height: 40px;
    width: 50%;
    background-color: gainsboro;
    position: absolute;
    top: 38px;
    z-index: -1;
  }
#footer{
    height: 30px;
    width: 100%;
    background-color: #f12a2a;
    position: relative;
  }
li{
    font-family: 'cursive';
    font-size: 20px;
  } 
.head{
    font-size: 25px;
  }  
#name{
    font-family: cursive;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }